{% extends 'poll/base.html' %}
{% block title %}Detail{% endblock %}

{% block content %}
<div class = "side">
    <h1>{{ question.question_text }}</h1>
    <p style="color: red"><strong>{{ error_message }}</strong></p>
    <form action="{% url 'poll:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="checkbox">
                <label for="choice{{ forloop.counter }}"><input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">{{ choice.choice_text }}</label>
            </div>
        {% endfor %}
     <div class="form-group">
         <label for="comment">Reasons:</label>
         <textarea class="form-control" rows="5" id="comment" name="reason" placeholder="tell us your reasons"></textarea>
     </div>
        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>

</div>


<h3>Arguments</h3>

    {% for reason in arguments %}
        <div class="panel panel-default" style="max-height: 100px ;width: 60%">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Choice:{{ reason.choice }}
		        </h3>
	        </div>
            <div class="panel-body" >
                {{ reason.reason_text }}
            </div>
        </div>

{% endfor %}

<div class="pagination" style="position: absolute; top:100%; right:35%" >

<ul class="pagination">
    {% for i in arguments.paginator.page_range %}
        {% if arguments.number == i %}
             <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
 <span class="current">
            Page {{ arguments.number }} of {{ arguments.paginator.num_pages }}.
 </span>

</div>
{% endblock %}