<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- 新 Bootstrap4 核心 CSS 文件 -->
        <link rel="stylesheet" href="../static/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/iconfont.css">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="../static/jquery/3.2.0/jquery.min.js"></script>
        <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
        <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
        <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
        <script src="../static/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="../static/js/comment.js"></script>
		<title>个人信息</title>
	</head>
	<body>
		 <div class="container">
			 <div class="col-xs-6 col-sm-12">
				 <div class="person-box">
				 	<div class="per-pic">
				 		<img src="../static/image/qqqq.jpg" class="pic-bg"/>
				 		<div class="pic-box"><img src="../static/image/qqqq.jpg" class="pics"/></div>
				 	</div>
				 	<div class="form-group">
                         <label for="form-user-name">昵称</label>
                          <input type="text" class="form-control" id="form-user-name" name="name" value="" maxlength="20" required="" autofocus="">
                         </div>
                    <div class="form-group">
                         <label for="form-user-name">邮箱</label>
                          <input type="text" class="form-control" id="emai" name="name" value="294852477@qq.com" disabled="disabled" maxlength="20" required="" autofocus="">
                         </div>     
                    <div class="form-group">
          <label for="form-room-description">修改密码</label>
          <input type="text" class="form-control" id="passwordchange" name="description" placeholder="输入新密码" value="" maxlength="140">
          <input type="text" class="form-control" id="passwordchange" name="description" placeholder="重复新密码" value="" maxlength="140">
        </div>
                    <div class="pull-right">
                             <a href="Index.html" class="btn btn-default">返回</a>
                             <input type="submit" name="submit" value="保存提交" id="creat1" class="create-room-submit-input btn btn-primary">
                         </div>
				 </div>
			 </div>	
		 </div>
	</body>
</html>
