<!doctype html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

	<title>Imposter</title>

	<link rel="stylesheet" href="../../../static/login/css/style.css">

	<link rel="stylesheet" href="../../../static/login/css/iconfont.css">

	<script src="../../../static/login/jQuery/3.2.0/jquery.min.js"></script>
    <script src="../../../static/login/js/Post.js"></script>

</head>

<body>

	<div class="login-banner"></div>

    <div class="logo container"></div>

	<div class="login-box">

		<div class="box-con tran">

			<div class="login-con f-l">
                <form action=" /login/" class="form-horizontal" role="form" method = "post">
                    {% csrf_token %}

				<div class="form-group">

					<input type="text" placeholder="email" id="email" onchange = "" name = "email">

					<span class="error-notic">您输入的邮箱有误</span>

				</div>

				<div class="form-group">

					<input type="password" id="password" placeholder="password" name="password"> <!-- name 用来作为ID传给后端 交换信息-->
					<p style="color: red">{{ error_info}}</p>
				</div>

				<div class="form-group">

					<button type="submit" class="tran pr" id="login111" onclick = "record()" >

						<a href="" class="tran login" onclick = "record()">Login</a>

						<!-- <img class="loading" src="images/loading.gif" style="display:block">
 -->
					</button>
				</div>
                </form>

                <div class="control-grounp">

                     <label>
                            <input style="width: 16px;height: 16px;" id="checkbox" type="checkbox" class="check-btn" checked="checked"><p style="color: #fff;display: inline-block;">Remember</p>
                             <input type="hidden" name="userExpiresHours" id="userExpiresHours" value="720">
                     </label>

                     <a href="javascript:" class="reset">forget your password ?</a>
                </div>
				<!-- <div class="from-line"></div> -->

				<div class="form-group">

					<a href="javascript:;" class="move-signup a-tag tran blue-border">Have an account<i class="iconfont tran">&#xe606;</i></a>

				</div>

				<!-- <div class="form-group">

					<a href="javascript:;" class="move-reset a-tag tran">忘记密码？重置 <i class="iconfont tran">&#xe606;</i></a>

				</div> -->

				<!-- <div class="form-group">

					<a href="javascript:;" class="move-other a-tag tran">使用第三方帐号登录<i class="iconfont tran">&#xe606;</i></a>

				</div> -->

			</div>

			<!-- 登录 -->



			<div class="signup f-l">
                <form action=" {% url 'login:register' %}" class="form-horizontal" role="form" method = "post">
                {% csrf_token %}

				<div class="form-group">

					<div class="signup-form">

						<input id = "set_email"  name = "email" type="text" placeholder="email" class="email-mobile" onblur="verify.verifyEmail(this)">

						<!-- <a href="javascript:;" class="signup-select">手机注册</a> -->

					</div>

					<span class="error-notic">邮箱格式不正确</span>

				</div>

				<div class="signup-email">

					<div class="form-group">

						<input id = "set_name" type="text"  name = "name" placeholder="name">

					</div>
                    <div class="form-group">

						<input id = "set_name" type="text"  name = "sex" placeholder="Male or Female">

					</div>

					<div class="form-group">

						<input id = "set_password" name = "password" type="password" placeholder="密码（字母、数字，至少6位）" onblur="verify.PasswordLenght(this)" style='display: block;'>
                         <span class="error-notic">密码长度不够</span>


					</div>

					<div class="form-group" id = "sign_up">

						<button type="submit" class="tran pr" >

							<a href="" class="tran">Register</a>

							<img class="loading" src="../../../static/login/images/loading.gif">

						</button>

                    </div>

					<!-- <p class="view-clause">点击注册，即同意我们的 <a href="#">用户隐私条款</a></p> -->

				</div><!-- 邮箱注册 -->
                </form>

				<div class="signup-tel" style="display:none">

					<div class="signup-form" id="message-inf" style="display:none">

						<input type="text" placeholder="短信验证码" style="width:180px;" onblur="verify.VerifyCount(this)">

						<a href="javascript:;" class="reacquire">重新获取（59）</a>

						<span class="error-notic">验证码输入错误</span>

					</div>

					<div class="form-group">

						<button type="submit" class="tran get-message pr">

							<a href="javascript:;" class="tran">获取短信验证码</a>

							<img class="loading" src="../../../static/login/images/loading.gif">

						</button>

					</div>

				</div><!-- 手机号码注册 -->

			<!--	<div class="from-line"></div>-->

				<div class="form-group">

					<a href="javascript:;" class="move-login a-tag tran blue-border">I have my account</a>

				</div>

				<!-- <div class="form-group">

					<a href="javascript:;" class="move-other a-tag tran">使用第三方帐号登录<i class="iconfont tran">&#xe606;</i></a>

				</div> -->

			</div>

			<!-- 注册 -->



			<!--<div class="other-way f-l">

				<div class="form-group">

					<button type="submit" class="tran pr">

						<a href="javascript:;" class="tran">QQ帐号登录</a>

						<img class="loading" src="images/loading.gif">

					</button>

				</div>

				<div class="form-group">

					<button type="submit" class="tran pr">

						<a href="javascript:;" class="tran">新浪微博帐号登录</a>

						<img class="loading" src="images/loading.gif">

					</button>

				</div>

				<div class="form-group">

					<button type="submit" class="tran pr">

						<a href="javascript:;" class="tran">微信帐号登录</a>

						<img class="loading" src="images/loading.gif">

					</button>

				</div>

				<div class="form-group">

					<button type="submit" class="tran pr">

						<a href="javascript:;" class="tran">网易帐号登录</a>

						<img class="loading" src="images/loading.gif">

					</button>

				</div>

				<div class="from-line"></div>

				<div class="form-group">

					<a href="javascript:;" class="move-signup a-tag tran blue-border">还没有帐号？免费注册<i class="iconfont tran">&#xe606;</i></a>

				</div>

				<div class="form-group">

					<a href="javascript:;" class="move-login a-tag tran">已有帐号？登录<i class="iconfont tran">&#xe606;</i></a>

				</div>

			</div>

			<!-- 第三方登录 -->-->



			<div class="mimachongzhi f-l">
                <form action="{% url 'login:send_code' %}" method="post">
                    {% csrf_token %}
				<div class="form-group">

					<input type="text" placeholder="请输入您的邮箱地址" name="email">

					<span class="error-notic">邮箱格式不正确</span>

				</div>

				<div class="form-group">

					<button type="submit" class="tran pr">

						<a href="" class="tran">发送邮件验证码</a>

						<img class="loading" src="../../../static/login/images/loading.gif">

					</button>

				</div>
                </form>
                <form action="{% url 'login:forget_password' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">

					<input type="password" placeholder="邮箱验证码" onblur="verify.PasswordLenght(this)" style="display: block;" name="code">
                    <span class="error-notic">验证码有误</span>

                    </div>

                    <div class="form-group">
                        <input type="password" placeholder="新密码（字母、数字，至少6位）" onblur="verify.PasswordLenght(this)" style= "display: block;" name="password">
                        <span class="error-notic">密码长度不够</span>

                    </div>

                    <div class="form-group">

					<button type="submit" class="resetPSD">

						<a href="javascript:" class="tran">Finish</a>

						<img class="loading" src="../../../static/login/images/loading.gif">

					</button>

				    </div>
               </form>
                <div class="form-group">

					<a href="javascript:;" class="move-login a-tag tran blue-border">Return to login</a>

				</div>
				<!--<div class="from-line"></div>

				<div class="form-group">

					<a href="javascript:;" class="move-signup	a-tag tran blue-border">创建账号<i class="iconfont tran">&#xe606;</i></a>

				</div>

				<div class="form-group">

					<a href="javascript:;" class="move-login a-tag tran">已有帐号？登录<i class="iconfont tran">&#xe606;</i></a>

				</div>

			</div>-->

			<!-- 密码重置 -->



			<!--<div class="mobile-success f-l">

				<p>手机号 <span>186****7580</span> 验证成功</p>

				<p>请完善您的账号信息，您也可以<a href="#">绑定现有账号</a></p>

				<div class="form-group">

					<input type="text" placeholder="邮箱" class="email-mobile" onblur="verify.verifyEmail(this)"/>

					<span class="error-notic">邮箱格式不正确</span>

				</div>

				<div class="form-group">

					<input type="text" placeholder="您的名字">

				</div>

				<div class="form-group">

					<input type="password" placeholder="密码（字母、数字，至少6位）" onblur="verify.PasswordLenght(this)"/>

					<span class="error-notic">密码长度不够</span>

				</div>

				<div class="form-group">

					<button type="submit" class="tran pr">

						<a href="javascript:;" class="tran">注册</a>

						<img class="loading" src="images/loading.gif">

					</button>

				</div>

				<p class="view-clause">点击注册，即同意我们的 <a href="#">用户隐私条款</a></p>

			</div>-->

			<!-- 手机注册成功添补信息 -->

		</div>

	</div>
	</div>


</body>

</html>