<!DOCTYPE html>
<html>
	<head>
		<!--<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- 新 Bootstrap4 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/iconfont.css">
		
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
		<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
		<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
		<script src="../static/js/comment.js"></script>
		<title>创建房屋</title>
	</head>
	<body>
		<div class="container">
			<div class="col-xs-6 col-sm-12">
				<div class="wrap">
					<form action="" method="post" role="form">
                         <div class="form-group">
                         <label for="form-user-name">房间名称</label>
                          <input type="text" class="form-control" id="form-user-name" name="name" value="" maxlength="20" required="" autofocus="">
                         </div>
                         <div class="form-group">
          <label for="form-room-description">房间描述</label>
          <input type="text" class="form-control" id="form-room-description" name="description" value="" maxlength="140">
        </div>
                         <div class="form-group">
          <label for="form-user-limit">成员人数</label>
          <select class="form-control" id="form-user-limit" name="limit" required="">
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5" selected="">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                      </select>
        </div>
		                 <div class="form-group">   
		                 	<label for="form-room-description">房间类型</label>
		                  	<select id="rent_type" class="select1 form-control">
			                 <option value="0">成人房</option>
			                 <option value="1">儿童房</option>
			                 <option value="3">未知房</option>
		                 </select>
		 	 	         </div>
		 	 	     
				         <div class="pull-right">
                             <a href="Index.html" class="btn btn-default">返回</a>
                             <input type="submit" name="submit" value="创建房间" id="creat1" class="create-room-submit-input btn btn-primary">
                         </div>
                    </form>  
				</div>
			</div>
		</div>
		<script>
	

		</script>
		
	</body>
</html>
