<!doctype html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/css/style.css">

	<link rel="stylesheet" href="../static/css/iconfont.css">

	<script src="../static/jquery/3.2.0/jquery.min.js"></script>
    <script src="../static/js/Post.js"></script>
    <script src="../static/js/md5.js" type=text/javascript></script>
    <title></title>
    <script type="text/javascript">
    	
   		document.addEventListener('plusready', function(){
   			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
   			
   		});
   		
    </script>
	<title>密码修改</title>

	<link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="css/iconfont.css">

	<script src="js/jquery.js"></script>
	 <script src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>

</head>

<body>

	<div class="login-banner"></div>

    <div class="logo container"></div>

	<div class="login-box">

		<div class="box-con tran">

            <form action="/new_password/" class="form-horizontal" role="form" method = "post">

			<div class="login-con f-l">


            <div class="form-group">

					<input type="password" placeholder="新密码（字母、数字，至少6位）" onblur="verify.PasswordLenght(this)" style='display: block;' name = "new_password">
                    <span class="error-notic">密码长度不够</span>
 						

			    
               </div>
                <div class="form-group">

					<input type="password" placeholder="重复新密码" onblur="verify.PasswordLenght(this)" style='display: block;'>	
                     <span class="error-notic">密码长度不够</span>
 						

			    </div>
			     
			     <div class="form-group">

					<button type="submit" class="resetPSD">

						<a href="javascript:;" class="tran">修改完成</a>

						<img class="loading" src="images/loading.gif">

					</button>

				</div>
            </div>
            </form>

				<!--<div class="from-line"></div>

				<div class="form-group">

					<a href="javascript:;" class="move-signup	a-tag tran blue-border">创建账号<i class="iconfont tran">&#xe606;</i></a>

				</div>

				<div class="form-group">

					<a href="javascript:;" class="move-login a-tag tran">已有帐号？登录<i class="iconfont tran">&#xe606;</i></a>

				</div>

			</div>-->

			<!-- 密码重置 -->



			<!--<div class="mobile-success f-l">

				<p>手机号 <span>186****7580</span> 验证成功</p>

				<p>请完善您的账号信息，您也可以<a href="#">绑定现有账号</a></p>

				<div class="form-group">

					<input type="text" placeholder="邮箱" class="email-mobile" onblur="verify.verifyEmail(this)"/>

					<span class="error-notic">邮箱格式不正确</span>

				</div>

				<div class="form-group">

					<input type="text" placeholder="您的名字">

				</div>

				<div class="form-group">

					<input type="password" placeholder="密码（字母、数字，至少6位）" onblur="verify.PasswordLenght(this)"/>

					<span class="error-notic">密码长度不够</span>

				</div>

				<div class="form-group">

					<button type="submit" class="tran pr">

						<a href="javascript:;" class="tran">注册</a>

						<img class="loading" src="images/loading.gif">

					</button>

				</div>

				<p class="view-clause">点击注册，即同意我们的 <a href="#">用户隐私条款</a></p>

			</div>-->

			<!-- 手机注册成功添补信息 -->

		</div>

	</div>




	<script>
		

		var _handle='';//储存电话是否填写正确

		$(function(){

			$(".signup-form input").on("focus",function(){

				$(this).parent().addClass("border");

			});

			$(".signup-form input").on("blur",function(){

				$(this).parent().removeClass("border");

			})

			//注册方式切换

			$(".signup-select").on("click",function(){

				var _text=$(this).text();

				var $_input=$(this).prev();

				$_input.val('');

				if(_text=="手机注册"){

					$(".signup-tel").fadeIn(200);

					$(".signup-email").fadeOut(180);

					$(this).text("邮箱注册");

					$_input.attr("placeholder","手机号码");

					$_input.attr("onblur","verify.verifyMobile(this)");

					$(this).parents(".form-group").find(".error-notic").text("手机号码格式不正确")



				}

				if(_text=="邮箱注册"){

					$(".signup-tel").fadeOut(180);

					$(".signup-email").fadeIn(200);

					$(this).text("手机注册");

					$_input.attr("placeholder","邮箱");

					$_input.attr("onblur","verify.verifyEmail(this)");

					$(this).parents(".form-group").find(".error-notic").text("邮箱格式不正确")

				}

			});

			//步骤切换

			var _boxCon=$(".box-con");

			$(".move-login").on("click",function(){

				$(_boxCon).css({

					'marginLeft':0

				})

			});

			$(".move-signup").on("click",function(){

				$(_boxCon).css({

					'marginLeft':-280

				})

			});

			$(".move-other").on("click",function(){

				$(_boxCon).css({

					'marginLeft':-560

				})

			});

			$(".reset").on("click",function(){

				$(_boxCon).css({

					'marginLeft':-560

				})

			});

			$("body").on("click",".move-addinf",function(){

				$(_boxCon).css({

					'marginLeft':-1120

				})

			});



			//获取短信验证码

			var messageVerify=function (){

				$(".get-message").on("click",function(){

					if(_handle){

						$("#message-inf").fadeIn(100)

						$(this).html('<a href="javascript:;">下一步</a><img class="loading" src="images/loading.gif">').addClass("move-addinf");

					}

				});

			}();

		});

		

		//表单验证

		function showNotic(_this){

			$(_this).parents(".form-group").find(".error-notic").fadeIn(100);

            $(_this).focus();

		}//错误提示显示

		function hideNotic(_this){

			$(_this).parents(".form-group").find(".error-notic").fadeOut(100);

		}//错误提示隐藏

		var verify={

			verifyEmail:function(_this){

				var validateReg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

				var _value=$(_this).val();

            	if(!validateReg.test(_value)){

            		showNotic(_this)

            	}else{

            		hideNotic(_this)

            	}

			},//验证邮箱

			verifyMobile:function(_this){

				var validateReg = /^((\+?86)|(\(\+86\)))?1\d{10}$/;

				var _value=$(_this).val();

            	if(!validateReg.test(_value)){

            		showNotic(_this);

            		_handle=false;

            	}else{

            		hideNotic(_this);

            		_handle=true;

            	}

            	return _handle

			},//验证手机号码

			PasswordLenght:function(_this){

				var _length=$(_this).val().length;

				if(_length<6){

					showNotic(_this)

				}else{

            		hideNotic(_this)

            	}

			},//验证设置密码长度

			VerifyCount:function(_this){

				var _count="123456";

				var _value=$(_this).val();

				console.log(_value)

				if(_value!=_count){

					showNotic(_this)

				}else{

					hideNotic(_this)

				}

			}//验证验证码

		}
		
        
	</script>
    <script>
    	//登陆非空验证
        
		$("#login111").click(function(_this){
      var login = $('#email').val();
	  var pwd = $('#password').val();
	  
		 if(login==''){
			
	      alert("请填写邮箱")
	      
		}else if(pwd==''){
		 
		 alert("请填写密码")
		}
		else{
		alert("登陆成功")	
		}
    })
     // cookie
    //记录已经输入的数据到cookie
   function record(){
    if (document.getElementById("saveUserLongTime").checked)
    {
        var first_item = document.getElementById("email").value; 
        document.cookie = "name" +"=" + first_item;
        var second_item = document.getElementById("password").value;
        document.cookie = first_item + "=" + second_item;
//      var third_item = document.getElementById("appearance").value;
//      document.cookie = second_item + "=" + third_item;
    }
}

//从cookie中取出对应的数据
function fill_in_auto(first_row_item){
  var cookies = document.cookie.split(';');
  var items_left = first_row_item + "=";
    
  for (var i = 0; i < cookies.length; i++)
  {     
    if (cookies[i].indexOf(items_left) == 1)
    {  
      document.getElementById("password").value = cookies[i].substring(items_left.length + 1);
      var items_left = cookies[i].substring(items_left.length + 1) + "=";
      break;
    }
  }
//for (var i = 0; i < cookies.length; i++)
//{
//  if (cookies[i].indexOf(items_left) == 1)
//    {
//      document.getElementById("appearance").value = cookies[i].substring(items_left.length + 1);
//      break;
//    }
//    
//}
}
    
// 监听函数
function checkCookie(){
    var input = document.getElementById("email").value;
    // document.getElementById("test").innerHTML = document.cookie;
    fill_in_auto(input);
    
}

$('#login111').click(function(){
    var input_name = $('#email').val();
    var passwords = $('#password').val();
    $.ajax({
        url: "/login/", data: {'username': input_name, 'keywords': passwords}, type: 'POST',
        //success: function (arg) {
          //  $('#feedback').html("<p>"+"登陆失败"+"</p>")
        //}
    })

})


    </script>
	 
    
</body>

</html>